*{

    margin: 0;
    padding: 0;
    
    

}

body {

    background-color: rgb(220, 214, 206);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


.header {

    display: flex;
    border-bottom: 1px solid black;
    background-color: rgb(220, 214, 206);
    padding: 10px;
    justify-content: space-between;
    
}

.header_title{

    font-size: 50px;
    
    justify-self: center;
    
    animation: fadeIn 0.3s ease-in forwards;
}

.login {

    justify-content: flex-end;
    
    border: 0px solid black;
    width: 20%;
    gap: 10%;
    display: flex;
}

.login button{

    width: fit-content;
    height: 95%;
    padding: 1rem;

    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    background-color: black;
    
    border-radius: 1px;
}

.login button p {
    background-color: black;
    font-size: 20px;
    font-weight: 500;
    color: rgb(220, 214, 206);
}

.banner {

    background-image: url(file:///home/enzo/Projeto-Individual-Beleza-da-arte-audiovisual/site/assets/imgs/banner_test.png);
    background-size: cover;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter";
    font-size: 50px;
    animation: fadeIn 0.5s ease-in forwards;
    

}



.banner p {

    color: rgb(220, 214, 206);
    text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.8);
    background-color: black;

}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}


.topico {
    
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 10px;
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    font-size: 50px;
    font-weight: 500;
    animation: fadeIn 1.5s ease-in forwards;

}

.texto {

    margin-top: 20px;
    padding: 5%;
    font-size: 35px;
    margin-right: 0;
    font-weight: 400;

}

.img_texto {

    flex-direction: row;
    
    
}

.img_texto img{

    height: 800px;
    margin-top: 120px;
    margin-right: 80px;
    border-radius: 15px;

}

.botao {

    
    background-color: black;
    

}

.botao p{

    color: rgb(220, 214, 206);
    background-color: black;
    font-weight: 500;
    font-size: 15px;

}

.container_login {

    width: 50hv;
    height: 30vh;
    background-color: rgb(202, 186, 146);
    border-radius: 15px;

}

.footer {
    background-color: #000000; 
    color:  rgb(220, 214, 206); 
    text-align: center; 
    padding: 20px 0; 
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto; 
}

.footer_lines {

    border-bottom: 1px solid rgb(220, 214, 206);
    border-top: 1px solid rgb(220, 214, 206);
    width: 90%;
    justify-self: center;

}